
//Base Styles Responsive Menu
h1 {
    margin: 0;
    padding: 20px 0;
}

nav {
    margin: 0 auto;
    position: absolute;
    z-index: 15;
}
.sticky {
    position: fixed;
    top: 0;
    margin-top: 0;
    @media (min-width: 551px) {
        a {
            background-color: rgba(0, 0, 0, 0.35);
            border-radius: 50px;
            margin-top: 10px;
            &:hover {
                background-color: rgba(0, 0, 0, 0.5);            
            }
        }
    }
}

.nav a {
    text-decoration: none;
    align-content: center;
    font-size: 1.5em;
    font-weight: 600;
    padding: 10px 15px;
    transition: color .4s ease, background-color .4s ease;
    color: rgb(247, 247, 247);
    cursor: pointer;
}

@media (min-width: 551px) {
    nav {
        margin-top: 5px;
        width: 100%;
        .toggle {
            display: none;
        }
        .nav {
            @include flex-row;
            justify-content: space-around;
            width: 95%;
            padding: 0;
            margin: 0 auto;
            max-width: 800px;
            height: 50px;
            align-items: center;
            list-style-type: none;
            animation: entrance .5s ease-out 1;
            #nav-home {
                margin-right: auto;
            }
            a {                
                text-shadow: 0 2px 2px rgb(0, 0, 0);
                margin-right: 5px;
            }
            
            .container {
                @include flex-row;
            }
        }
    }
}

// Responsive drop down menu
@media (max-width: 550px) {
    nav {
        width: 100%;
        .menu-show {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
            background-color: rgba(255, 160, 160, 0.85);
            visibility: hidden;
            height: 0;
            transition: all .4s ease;
            overflow: hidden;
            a {
                text-decoration: none;
                font-size: 1.3em;
                animation: exit .4s ease-in 1;
            }
            
            & + .toggle > #bars {
                transition: transform .5s ease;
                transform: rotate(0deg);
            }
        }
        .menu-hide {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
            background-color: rgba(255, 160, 160, 0.85);
            visibility: visible;
            height: 230px;
            transition: height .4s ease, visibility .5s ease;
            overflow: hidden;
            a {
                text-decoration: none;
                font-size: 1.3em;
                animation: entrance .4s ease 1;

            }
        
            & + .toggle > #bars {
                transition: transform .5s ease;
                transform: rotate(90deg);
            }
        }
        .toggle {
            margin-top: 0;
            clear: both;
            display: block;
            text-align: center;
            line-height: 40px;
            cursor: pointer;
            width: 100%;
            padding: 10px 0;
            height: 40px;
            font-size: 1.5em;
            transition: background-color .4s ease;
            color: pink;
            background-color: rgba(255, 139, 139, 0.9);
            #bars {
                width: 30px;
                margin: 0 auto;
                color: pink;
            }   
        }
    }
}