//--------------------------------- responsive CSS only menu --------------------------------------

nav {
    margin: 0 auto;
    width: 100%;
    background-color: $background-pink;
    position: absolute; // testing functionality to position drop-down over other elements
    .current {
        animation: color-change 3s infinite alternate;
        font-size: 3em;
        font-weight: 700;
    }
    h1 {
        background-color: $background-pink;
        margin: 0;
        padding: 20px 0;
    }
    a {
        color: $pink;
    }
}

#nav-checkbox,
.toggle {
    display: none;
}

.menu {
    padding: 0;
    margin: 0 auto;
    max-width: 700px;
    height: 50px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
  
.menu li a {
    text-decoration: none;
    align-content: center;
    font-size: 1.2em;
    padding: 10px 15px;
    transition: color .6s ease, font-size .4s ease;
    &:hover {
        color: rgb(231, 36, 36);
        font-size: 2em;
    }
}

@media (min-width: 600px) {
    .menu li a {
        font-size: 1.5em;
    }
}
  
@media (max-width: 550px) {
    .toggle {
        clear: both;
        display: block;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
        width: 100%;
        padding: 10px 0;
        height: 40px;
        font-size: 1.5em;
        background-color: $toggle-pink;
        transition: background-color .4s ease;
    }
    .toggle:hover {
        background: $hover-pink;
    }
    #nav-checkbox:checked + label .nav li {
        opacity: 1;
        visibility: visible;
        transition: all 1s ease-in;
    }

    #bars {
        transition: transform .65s ease;
        max-width: 50px;
        color: rgb(221, 0, 0);
    }

    #nav-checkbox:checked + label #bars {
        transform: rotate(90deg);
    }

    #nav-checkbox + label .nav li {
        opacity: 0;
        transition: visibility .5s ease, opacity .3s ease;
        visibility: none;
        
    }

    #nav-checkbox:checked + label .nav {
        height: 230px;
    }

    .menu {
        border-radius: 0px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0px;
        transition: height .4s ease-out;
    }
    .menu li {
        display: flex;
        align-self: center;
        width: 95%;
        opacity: 0;
        visibility: hidden;
    }
    .menu li a {
        width: 95%;
        text-align: center;
        align-self: center;
        align-content: center;
    }
}