%flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column; 
}

%bouncing-arrow {
    i {
        padding-top: 20px;
        animation: swing 5s infinite;
    }
}

// red to pink font change
@keyframes color-change {
    0% { color: rgb(255, 17, 29); }
    100% { color: $pink; }
}

// Animation of bouncing arrow
@keyframes swing
{
    15%
    {
        transform: translateY(10px) scale(.9);
    }
    30%
    {
        transform: translateY(-10px) scale(1.2);
    }
    50%
    {
        transform: translateY(6px);
    }
    65%
    {
        transform: translateY(-6px) scale(1.1);
    }
    80%
    {
        transform: translateY(3px);
    }
    100%
    {
        transform: translateY(0);
    }
}

// Media Query
@mixin lg-screens {
    @media(min-width: 850px) {
        @content;
    }
}

@mixin xlg-screens {
    @media(min-width: 1024px) {
        @content;
    }
}