
$background-pink: rgba(255, 241, 243, 0.85);
$background-white: rgba(252, 252, 252, 0.95);
$toggle-pink: rgba(255, 200, 204, 0.9);
$hover-pink: rgb(255, 212, 219);
$pink: rgb(250, 109, 132);
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Open Sans Condensed', sans-serif;

