//Snapwidget styles --------------------------------------
iframe {
    border-radius: 2px;
    box-shadow: 0 0 10px -5px black;
}

.snapwidget {
    width: 100%;
    text-align: center;
    
}

.snap {
    border: none; 
    overflow: hidden; 
    height: 60%;
    @include lg-screens {
        width: 45%;
        max-height: 500px;
    }
}

.snapwidget-gallery {
    margin-top: 70px;
}